
<launch>

<arg name="bags_prefix" value="mapping_session"/>

<node name="bag_record" pkg="rosbag" type="record"
        args="record --tcpnodelay -o $(arg bags_prefix) /rosout /rosout_agg
/status
/t265/odom/sample
/d435i/aligned_depth_to_color/image_raw/compressed
/d435i/color/image_raw/compressed
/d435i/depth/color/points
/d435i/depth/image_rect_raw/compressed
/tf
/tf_static
/rtabmap/cloud_ground
/rtabmap/cloud_map
/rtabmap/cloud_obstacles
/rtabmap/global_path
/rtabmap/global_path_nodes
/rtabmap/global_pose
/rtabmap/goal
/rtabmap/goal_node
/rtabmap/goal_out
/rtabmap/goal_reached
/rtabmap/grid_map
/rtabmap/grid_prob_map
/rtabmap/info
/rtabmap/initialpose
/rtabmap/labels
/rtabmap/landmarks
/rtabmap/local_grid_empty
/rtabmap/local_grid_ground
/rtabmap/local_grid_obstacle
/rtabmap/local_path
/rtabmap/local_path_nodes
/rtabmap/localization_pose
/rtabmap/mapData
/rtabmap/mapGraph
/rtabmap/mapPath
/rtabmap/octomap_binary
/rtabmap/octomap_empty_space
/rtabmap/octomap_full
/rtabmap/octomap_global_frontier_space
/rtabmap/octomap_grid
/rtabmap/octomap_ground
/rtabmap/octomap_obstacles
/rtabmap/octomap_occupied_space
/rtabmap/proj_map
/rtabmap/rgbd_image
/rtabmap/rgbd_image/compressed"
/>
	
</launch>
