<?xml version="1.0"?>
<launch>

  <!-- Standalone launcher to visualize the robot model. -->
  <include file="$(find nemesis_description)/launch/description.launch">
  </include>

  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find nemesis_viz)/rviz/model_and_sensors.rviz" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <include file="$(find nemesis_description)/launch/rs_t265_and_d435i.launch">
  </include>

</launch>
